body{
    background-color: rgba(255, 0, 0, 0.089);
}
p{
    color:rgb(0, 0, 0)
}
h2{
    color: rgb(52, 0, 238);
}
h1{
    color:rgb(255, 7, 57)
}
section{
    border: 1px solid
}
article{
    color:rgba(228, 19, 11, 0.308);

    border : 2px
}
main{
    background-color: rgba(126, 132, 223, 0.233);
}
#banco{
    display: flex;
    flex-direction: row;
    
}