body{
    background-color: rgba(0, 255, 255, 0.116);
}
p{
    color:coral
}
h2{
    color: deeppink;
}
h1{
    color:rgba(221, 96, 121, 0.425)
}
section{
    border: 1px solid
}
article{
    color:gold;

    border : 2px
}
main{
    background-color: rgba(126, 132, 223, 0.233);
}
.padding{
    border: 15px 
}